body{
	margin: 0;
	padding: 0;
	background-color: #000000; 
}
img{
	width: 100%;				
}
.header-img{
	font-size: 0;
	
}
.content{
	position: relative;
	padding: 0;
	width: 10%;
	float: left;
	box-shadow: #000000;
}			

.mask{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	color: #FFFFFF;
	line-height: 100%;				
	border-radius: 4px;
	display: none;
	font-family: 30px;	
	text-align: center;
	align-items:center;
	display: -webkit-flex;			
}
h3{
	
	font-size: 18px;
	color: #FFFFFF;
	opacity: 0.5;/*元素半透明*/
	text-align: center;
	width: 100%;		
}

p{
	text-align: center;
	font-size: 15px;				
}
.content>.logo{
	text-align: center;
	align-items:center;
	display: -webkit-flex;	
}	